<div class='container' ng-controller="MemoCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" name="New" ng-click="NewMemo(newMemo)">New Memo</button>
      <input id="txtMemo" type="text" name="memo" value="" ng-model='newMemo' ng-keypress='NewMemo(newMemo, $event)'>
    </div>
    <div class="panel-body">
      <ul>
        <div ng-repeat='(id, memo) in MemoList track by $index'>
          <li>{{memo.memo}}
            <!-- uncomment for server hosted memos -->
            <!-- <button type="button" name="Delete" class='btn btn-sm btn-danger' ng-click="DeleteMemo(memo.id)">X</button> -->
            <button type="button" name="Delete" class='btn btn-sm btn-danger pull-right' ng-click="DeleteMemo(id)">X</button>
          </li>
          <hr color="" />
        </div>
      </ul>
    </div>
  </div>
</div>
